@page "/health"

@inject HttpClient Http
@inject IJSRuntime JS

<h1>Health</h1>

@if (health == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl>
        @foreach (var kvp in health)
        {
            <dt>@(kvp.Key)</dt>
            <dd>@(kvp.Value)</dd>
        }
    </dl>
}

@code {
    private Dictionary<string, object> health;

    protected override async Task OnInitializedAsync()
    {
        var baseUrl = await JS.InvokeAsync<string>("localStorage.getItem", "baseUrl");
        var endpointUrl = $"{baseUrl}/health";
        health = await Http.GetFromJsonAsync<Dictionary<string, object>>(endpointUrl);
    }
}
