@page "/health"
@inject ActuatorService Service

<h1>Health</h1>

<JsonTree Element="@data" />

@code {
    private JsonElement data;

    protected override async Task OnInitializedAsync()
    {
        data = await Service.GetHealth();
    }
}
