@page "/health"
@inject ActuatorService Service

<h1>Health</h1>

@if (health == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl>
        @foreach (var kvp in health)
        {
            <dt>@(kvp.Key)</dt>
            <dd>@(kvp.Value)</dd>
        }
    </dl>
}

@code {
    private IDictionary<string, object> health;

    protected override async Task OnInitializedAsync()
    {
        health = await Service.GetHealth();
    }
}
