@page "/info"
@inject ActuatorService Service

<h1>Info</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl>
        @foreach (var kvp in data)
        {
            <dt>@(kvp.Key)</dt>
            <dd>@(kvp.Value)</dd>
        }
    </dl>
}

@code {
    private IDictionary<string, object> data;

    protected override async Task OnInitializedAsync()
    {
        data = await Service.GetInfo();
    }
}
