@page "/info"
@inject ActuatorService Service

<h1>Info</h1>

<JsonTree Element="@data" />

@code {
    private JsonElement data;

    protected override async Task OnInitializedAsync()
    {
        data = await Service.GetInfo();
    }
}
